/* styles/style.css */
body {
    background-color: "#7F3100" !important;
}

.block-container {
    background-color: "#7F3100" !important;
}

.css-18e3th9 {
    background-color: "#7F3100" !important;
}
